body{
    font-family: Martel, Arial, sans-serif;
    background-image: url("images/ignasi_pattern_s.png");
}
p {
    line-height: 200%;
}
.container {
    padding-top:100px;
    padding-bottom:100px;
    max-width: 960px;
}
.navbar-brand {
    height: 70px;
    font-size: 30px;
}
.pug-img{
    height:208px;
}

.swirl-card {
    margin-top: 120px;
}

@media (max-width: 990px) {
    .card {
        margin:0;
        
    }
}