/* body{
    background-image: url("images/ignasi_pattern_s.png");
    line-height: 200%;
    margin:0px;
} */
p {
    line-height: 200%;
}
.container {
    padding-top:100px;
    padding-bottom:100px;
    max-width: 960px;
}
div.col-sm-4 {
    padding: 0;
}
div.col-sm-8 {
    padding: 0;
}
.navbar-brand {
    height: 70px;
    font-size: 30px;
}